{% extends "layouts/default.html" %}

{% block content %}
    {% include "partials/hero.html" %}

    <section class="section quotes">
        <div class="container">
            <div class="section__header">
                <h2>Who's optimizing with frontend tools?</h2>
            </div>
            <div class="section__body masonry-grid">
                {% for quote in quotes %}
                {% include "partials/quote.html" %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "partials/resources.html" %}

    {% include "partials/book-coupon.html" %}

    </div>
{% endblock %}