<section class="section book">
    <div class="container">
        <a href="https://gum.co/JbqgD" class="book-coupon">
            <div class="book-coupon__image"><img src="assets/img/ayw-book-cover.jpg" alt="Automating your workflow"></div>
            <div class="book-coupon__text">Get 20% off <small><span>Automating Your Workflow</span> with coupon code <strong>peers</strong></small></div>
        </a>
    </div>
    <p class="more-info"><small>Learn more at <a href="http://automateyourworkflow.com/">automateyourworkflow.com</a></small></p>
</section>