<div class="quote">
    <div class="quote__body">
        <a href="" class="quote__profile-image"><img src="http://placehold.it/150" alt="profile image"></a>
        <div class="quote__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus ullam autem similique quibusdam minima sunt quidem vitae eveniet aliquid reiciendis corporis voluptatem cum deleniti enim, perferendis suscipit natus repudiandae maiores?</p>
            <div class="quote__name">&mdash;John Doe</div>
        </div>
    </div>
</div>
