<div class="quote masonry-grid-item{% if loop.first %} grid-sizer{% endif %}">
    <div class="quote__body">
        <a href="https://twitter.com/{{ quote.twitterHandle }}" class="quote__profile-image">
            <img src="assets/img/{{ quote.profilePic }}" alt="profile image">
        </a>
        <div class="quote__text">
            <p>&ldquo;{{ quote.quoteText }}&rdquo;</p>
        </div>
        <div class="quote__name">&mdash;{{ quote.name }}</div>
        <div class="quote__title">{{ quote.title }} &ndash; {{ quote.company }}</div>
    </div>
</div>