.quote {
    width: 100%;
    margin-bottom: 4em;
    padding: 0 2em;
    padding: 0.8em;
    text-align: center;

    border: 1px solid #ddd;

    // &__profile-image {
    //     width: 150px;
    //     height: 150px;
    //     border-radius: 100%;
    //     overflow: hidden;
    //     position: absolute;
    //     left: 50%;
    //     margin-left: -75px;
    //     top: 0;
    //     margin-top: -75px;
    //     box-shadow: 5px 5px 0 0 rgba(black, 0.1);

    //     img {
    //         max-width: 100%;
    //     }
    // }

    &__body {
        background: white;
        padding: 2em;
        // padding: 75px 2em 2em;
        // position: relative;
        // border-radius: 10px;
        // box-shadow: 8px 8px 0 0 black;

        p {
            color: #888;
            line-height: 1.5;
            margin-bottom: 1.5em;
        }
    }

    &__name {
        margin-bottom: 6px;
    }

    &__title {
        color: #888;
        font-style: italic;
        font-size: 0.9em;
    }

    // @media (min-width: 42em) {
    //     width: 50%;
    //     margin-bottom: 5em;

    //     &__body {
    //         padding-left: 3em;
    //         padding-right: 3em;
    //     }
    // }
}