.resource-list {
    line-height: 1.4;
    list-style: none;
    color: white;
    margin-bottom: 2em;
    padding: 0 1.5em;
    text-align: left;
    border-right: 1px solid lighten($darkBlue, 10%);

    &:last-child {
        border: none;
    }

    &__item {
        margin-bottom: 1.2em;
        padding-right: 1em;

        &--label {
            line-height: 1;
            padding-right: 0;
            margin-bottom: 1.8em;
            font-weight: bold;

            .fa {
                vertical-align: middle;
                font-size: 1em;
                margin-right: 0.2em;
            }
        }

        a {
            color: white;
            text-decoration: none;
            color: lighten($lightBlue, 55%);

            small {
                color: lighten($lightBlue, 20%);
            }

            &:hover {
                color: lighten($lightBlue, 35%);
            }
        }

    }

    &--people {
        li:not(.resource-list__item--label) {
            margin-bottom: 0.5em;
            font-size: 0.85em;
        }
    }
}