body {
    background: $lightBlue;
    background: linear-gradient(to bottom, lighten($lightBlue, 5%), $darkBlue 70%);
    text-align: center;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 71.25em;
    margin: 0 auto;
    padding: 0 1em;
}

.section {
    padding: 3em 0;

    &__header {
        margin-bottom: 3em;

        h2 {
            margin-bottom: 0;
        }
    }
}

.quotes {
    background: rgba($darkBlue, 0.2);
    padding-bottom: 0;

    .section__header {
        margin-bottom: 8em;
    }
}

.resources {
    background: $darkBlue;
}

.book {
    text-align: center;

    .more-info {
        color: white;
        font-weight: 200;

        a {
            color: white;
        }
    }
}

// Quote and resources flexbox layout
@media (min-width: 42em) {
    .quotes .section__body,
    .resources .section__body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .quote {
        flex: 0 1 50%; //flex-grow, flex-shrink, flex-basis
    }

    .resource-list {
        &--links {
            flex: 2 0 50%;
        }

        &--podcasts {
            flex: 1 0 30%;
        }

        &--people {
            flex: 1 0 20%;
        }
    }
}